<div class="bg-light border-right p-3" style="width: 250px;">
  <h4>Admin Panel</h4>
    <li><a href="/admin">📊 Thống kê</a></li>
  <ul class="list-unstyled">
    <li><a href="/admin/categories">📂 Quản lý danh mục</a></li>
    <li><a href="/admin/products">📦 Quản lý sản phẩm</a></li>
    <li><a href="/admin/orders">🛒 Quản lý đơn hàng</a></li>
    <li><a href="/admin/customers">👤 Quản lý khách hàng</a></li>
  </ul>
</div>
